<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td><b>Before</b></td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td><b>Jan 12</b></td>  <td><a href="https://swcarpentry.github.io/shell-novice">Automating Tasks with the Unix Shell</a></td> </tr>
      <tr> <td><b>Jan 13</b></td>  <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/">Version Control with Git/GitHub</a></td> </tr>
      <tr> <td><b>Jan 14</b></td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming with Python, Part 1</a></td> </tr>
      <tr> <td><b>Jan 15</b></td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming with Python, Part 2</a></td> </tr>
      <tr> <td><b>Jan 16 (optional) </b></td>  <td><a href="https://carpentries-incubator.github.io/swc-ext-python/">Workflows with Python and Git</a></td> </tr>
      <tr> <td><b>END</b></td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
